<div id="header">
  <h1><img id="icon" src="/images/software-icon.png" />Preparing for initial launch</h1>
  <p>A group of people that work with software companies that live along the Chicago blue line and talk about technology</p>
</div>

<div id="upcomming">
  <% upcomming_article = (blog("talk").articles | blog("blog").articles).first %>
  <h2>
    <a href="<%= upcomming_article.url %>"><%= upcomming_article.title %></a>
    <time><%= upcomming_article.date.strftime('%b %e %Y') %></time>
  </h2>
  <%= upcomming_article.summary %>
</div>

<dir id="history">
  <% (blog("talk").articles | blog("blog").articles).each do |article| %>
    <div class="icon-field"><div id="circle"></div></div>
    <div class="history-item">
      <h2>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h2>
      <%= article.summary %>
    </div>
  <% end %>
</dir>
